.idea/*
databases/__pycache__/*
*.pyc
databases/__pycache__/mongo_model.cpython-312.pyc
databases/__pycache__/mysql_model.cpython-312.pyc
databases/__pycache__/redis_model.cpython-312.pyc
.idea/TCC_CMA.iml
.idea/misc.xml