<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD Application</title>
</head>
<body>
    <h1>Items</h1>
    <form action="/add" method="post">
        <input type="text" name="name" placeholder="Add new item">
        <button type="submit">Add</button>
    </form>
    <ul>
        {% for item in items %}
            <li>
                {{ item.id }}
                <a href="/update/{{ item.id }}">Update</a>
                <a href="/delete/{{ item.id }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>